@import "../../global.scss";

.header {
  @extend %flex-centered;
  width: 100vw;
  height: 15vh;
  background-color: $p-color;
  margin-bottom: $base-space;
  border-bottom: $accent solid 2pt;
  .h1 {
    font-size: 40pt;
  }
}
