//variables
$p-color: rgb(194, 119, 96);
$s-color: rgb(0, 173, 179);
$t-color: rgb(142, 182, 119);

$accent: rgb(61, 14, 0);

$text-color: rgb(61, 14, 0);

$base-space: 10px;

//inheritance
%flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}
