//variables
$p-color: rgb(86, 103, 255);
$s-color: rgb(0, 247, 255);
$t-color: rgb(189, 125, 72);

$accent: rgb(36, 68, 55);

$text-color: rgb(36, 68, 55);

$base-space: 10px;

//inheritance
%flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}
